.container {
    padding: 20px;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2em;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.sunIcon {
    color: yellow;
}

.lightMode {
    background-color: white;
    color: black;
}