@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

.swiper-button-next,
.swiper-button-prev {
    color: #14b8a6 !important;

}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #0d9488 !important;
}

.swiper-pagination {
    pointer-events: none;
}

.swiper-pagination-bullet {
    pointer-events: auto;
}